/*Div with class name box, the white box with opacity 0.9*/
.box {
	min-height: 500px; 
    width: 78%;
    padding: 10px;
    padding-left: 20px;
    background-color: white;
    margin-left: 140px;
    margin-top: -10px;
    /*top right bottom left*/
    border-radius: 5px 0px 5px 5px;
    border-bottom-right-radius: 0px;
}

#centerh1 {
    text-align: center;
    margin-top: 0px;
    display: block;
    font-size: 40px;
}

/*Used for the background image so the image is fixed when scrolling*/
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('dogebg.jpg');
    background-attachment: fixed;
    background-size: 110%;
    opacity: 0.6;
}

/*Navigation bar on the left side*/
nav {
    float:left;    
    width: 100px;
    height: 100%;
    background-color: white;
    overflow:auto;
    clear: left;
    opacity: 0.9;
    margin-left: 40px;
    margin-top: 10px;
    
} 

nav a {
    display: block;
    color: black;
    padding: 7px 0px 7px 0px;
    /*top right bottom left*/
    text-align: left;
    text-decoration: none;
    margin: 0px 0px 0px 10px;
}

/*Changes color when cursor is hovered over navigation bar*/
nav a:hover {
    background-color: #008CBA;
    color: white;
    padding: 7px 0px 7px 4px;
}

/*Marist Logo*/
#maristlogo {
	height: 70px;
	width: 350px;
	position: relative;
	left: 150px;
    margin-top: 5px;
}

/*Button style properties*/
.button {
	background-color: #008CBA;
	border: none;
	color: white;
	text-align: center;
	font-size: 16px;
    display: block;
    margin-top: 70px;
    margin-left: 70px;
}

#butlost {
	position: absolute;
	top: 0px;
	left: 200px;
    padding: 15px 32px;
}

#butfound {
	position: absolute;
	top: 120px;
	left: 200px;
    padding: 15px 25px;
}
#butmanage {
	position: absolute;
	top: 240px;
	left: 200px;
    padding: 15px 32px;
}

#butadd {
	position: absolute;
	top: 360px;
	left: 200px;
    padding: 15px 25px;
}

#butadmin{
	position: absolute;
	top: 340px;
	left: 200px;
    padding: 15px 45px;
}