.box {
	min-height: 500px; 
    width: 78%;
    padding: 10px;
    padding-left: 20px;
    background-color: white;
    margin-left: 140px;
    margin-top: -10px;
    /*top right bottom left*/
    border-radius: 5px 0px 5px 5px;
    border-bottom-right-radius: 0px;
}